# Default ignored files
shelf/
target/
**/.DS_Store
workspace.xml
# Datasource local storage ignored files
**/.idea/dataSources/
.idea/*
dataSources.local.xml
# Editor-based HTTP Client requests
httpRequests/
spring/conference-mvc/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml
