.crop {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.6em;
}
span.rating {
  vertical-align: middle;
  font-size: 0.8em;
  font-weight: 400;
}
div {
  cursor: pointer;
}